@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    font-size: 62.5%;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    background: url('../images/fundo-madeira.jpg') no-repeat top center / cover;
}

section#celular {
    position: absolute;
    height: 62.8rem;
    width: 31rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../images/frame-iphone.png') no-repeat fixed;
}

iframe#home {
    position: relative;
    height: 47.4rem;
    width: 26.93rem;
    top: 7.9rem;
    left: 2.1rem;
}

section#redes-sociais {
    display: flex;
    flex-direction: column;
}

section#redes-sociais a {
    padding: 2rem 1rem .1rem;
}

section#redes-sociais img {
    display: flex;
    justify-content: space-around;
    width: 6rem;
    border-radius: 50%;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.479);
}

section#redes-sociais img:hover {
    border: 0.3rem solid white;
    transform: translate(-4%, -4%);
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.479);
    transition: 0.2s;
}
